<div class="row justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center" style="width: 100%">
        <small style="margin-left: 150px">{{nomeUsuarioLogado}} |</small>
        <a [routerLink]="['']" (click)="logoff()" style="font-size: 12px; margin-left: 5px">Logoff</a>
    </div>
    <div *ngIf="!partidaIniciada else partida">
        <mat-card class="default-card" style="width: 500px">
            <mat-card-header>
                <mat-card-title>Ranking<i class="fa fa-line-chart" style="margin-left: 10px"></i></mat-card-title>
                <mat-card-subtitle style="margin-top: 5px">
                    Cada acerto rende 1 ponto. 3 erros e o jogo acaba.
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="rankingGeral" class="mat-elevation-z8" style="width: 100%" >
                    <!-- Coluna da posição -->
                    <ng-container matColumnDef="posicao">
                        <th mat-header-cell *matHeaderCellDef>Posição #</th>
                        <td mat-cell *matCellDef="let ranking">{{ranking.posicao}}</td>
                    </ng-container>

                    <!-- Coluna do usuário -->
                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef>Jogador</th>
                        <td mat-cell *matCellDef="let ranking">{{ranking.usuario.nomeUsuario}}</td>
                    </ng-container>

                    <!-- Coluna dos pontos -->
                    <ng-container matColumnDef="pontos">
                        <th mat-header-cell *matHeaderCellDef>Pontos</th>
                        <td mat-cell *matCellDef="let ranking">{{ranking.pontos}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="colunasMostradas"></tr>
                    <tr mat-row *matRowDef="let row; columns: colunasMostradas;"></tr>
                </table>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="iniciarPartida()">iniciar Partida!</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <ng-template #partida>
        <mat-card class="default-card" style="width: 600px">
            <mat-card-header>
                <mat-card-title>Qual desses dois filmes teve a melhor pontuação no IMDB?</mat-card-title>
                <mat-card-subtitle style="margin-top: 5px">
                    Clique no poster do filme
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <div [ngClass]="{'active-layer': filmesVisiveis}">
            <mat-card class="default-card filme1-layer" style="width: 600px" 
                      (click)="escolherFilme(filmeAleatorio1.id)">
                <mat-card-content>
                    <div class="row justify-content-center align-items-center">
                        <div>
                            <img class="img-thumbnail filme-foto" src="{{filmeAleatorio1.posterUrl}}">
                        </div>
                        <div>
                            <span>Título: {{filmeAleatorio1.titulo.substring(0,40)}}</span><br>
                            <span>Ano: {{filmeAleatorio1.ano}}</span><br>
                            <span>Gênero: {{filmeAleatorio1.genero}}</span><br>
                            <span>Diretor: {{filmeAleatorio1.diretor}}</span><br>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            
            <mat-card class="default-card filme2-layer" style="width: 600px" 
                      (click)="escolherFilme(filmeAleatorio2.id)">
                <mat-card-content>
                    <div class="row justify-content-center align-items-center">
                        <div>
                            <img class="img-thumbnail filme-foto" src="{{filmeAleatorio2.posterUrl}}">
                        </div>
                        <div>
                            <span>Título: {{filmeAleatorio2.titulo.substring(0,40)}}</span><br>
                            <span>Ano: {{filmeAleatorio2.ano}}</span><br>
                            <span>Gênero: {{filmeAleatorio2.genero}}</span><br>
                            <span>Diretor: {{filmeAleatorio2.diretor}}</span><br>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <span>Pontos: {{partidaAtual?.pontos}}</span>
            <span>Erros: {{partidaAtual?.erros}}</span>
            <button mat-raised-button color="primary" style="margin-left: 10px" (click)="encerrarPartida()">
                Sair do jogo
            </button>
        </div>
    </ng-template>
</div>
