<div class="row justify-content-center align-items-center">
    <mat-card class="default-card">
        <mat-card-header>
            <mat-card-title>Criar novo usuário</mat-card-title>
            <mat-card-subtitle>Insira os dados de login:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="criarUsuarioFormGroup" class="form mt-4">
                <div class="form-group">
                    <input class="form-control" placeholder="Nome de usuário" formControlName="nomeUsuario" autofocus>
                    <small *ngIf="!!criarUsuarioFormGroup.get('nomeUsuario')?.errors?.['required']"
                           class="text-danger d-block mt-2" style="margin-left: 13px">Nome de usuário é obrigatório</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="senha" placeholder="Senha" formControlName="senha" required>
                    <small *ngIf="!!criarUsuarioFormGroup.get('senha')?.errors?.['required']" 
                           class="text-danger d-block mt-2" style="margin-left: 13px">Senha é obrigatório</small>
                </div>
                <div class="form-group">
                    <button mat-raised-button color="primary" [disabled]="criarUsuarioFormGroup.invalid" type="submit"
                            (click)="criaUsuario()">
                        Criar
                    </button>
                    <button style="margin-left: 10px" mat-raised-button color="primary" [routerLink]="['']">
                        Voltar
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
